<div id="map"></div>
<% markers = [] %>
<% unless current_user.orders.empty? %>
  <ul class="no_bullet">
  <% current_user.orders.each do |order| %>
    <% unless order.delivery_status.delivered? == true %>
    <% markers.push([order.latitude,order.longitude]) if order.latitude %>
      <li>
        <ul class="order_details">
          <li>Order #: <a href="<%= order_url(order) %>"><%= order.order_number %></a></li>
          <li>Vendor Name: <%= order.vendor.name %></li>
          <li>Tracking #: <%= order.tracking_number%></li>
          <li>Address: <%= order.address %></li>
          <li>Delivery Status:  <span class="<% 
                                case order.delivery_status.timeline.upcase
                                when 'NORMAL' %>
                                    ">NORMAL</span> 
                                <% when 'NOT NORMAL' %>
                                  orange">NOT NORMAL</span>
                                <% when 'VERY LATE' %>  
                                  red">VERY LATE</span>
                                <% end %>
          </li>
        </ul>
      </li>
    <% end %>
  <% end %>
  </ul>
<% end %>

<a href="<%= new_order_url %>">Add order</a>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnJKUqIPs-LHRG2LjYm_UTHXYsvb0qCEA&callback=initMap"
async defer></script>

<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 40.6483, lng: -73.968},
      zoom: 10
    });

    let markers = <%= markers %>;
    console.log(markers);

    addMarker = function(lat, lng) {
      var marker = new google.maps.Marker({
        position: {lat: lat, lng: lng},
        map: map
      });
    }

    markers.forEach((address) => {
        addMarker(address[0], address[1])
    })
  }
</script>