<% unless current_user.orders.empty? %>
  <ul class="no_bullet">
  <% current_user.orders.each do |order| %>
    <li>
      <ul class="order_details">
        <li>Order #: <a href="<%= order_url(order) %>"><%= order.order_number %></a></li>
        <li>Vendor Name: <%= order.vendor.name %></li>
        <li>Tracking #: <%= order.tracking_number%></li>
        <li>Address: <%= order.address %></li>
        <li>Delivery Status: <%= order.delivery_status.delivered? ? "Delivered!" : order.delivery_status.timeline.upcase %></li>
      </ul>
    </li>
  <% end %>
  </ul>
<% end %>

<a href="<%= new_order_url %>">Add order</a>